<title>Rough Drafts</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css"
    media="screen and (prefers-color-scheme: dark)" />
<script
    src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.1.0-V83RMQBlYCPK9CvTqQoL/mode=imports,min/optimized/@hotwired/turbo.js"></script>

<style>
    @media(prefers-color-scheme:dark) {
        a {
            text-decoration: underline;
            text-decoration-color: #6279B8;
            text-decoration-thickness: 3px;
        }

        a:hover {
            color: #6279B8;
            border-bottom: none;
        }
    }

    pre {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>