{% extends "pastes/base.html" %}
{% block extra_head %}
    <meta property="og:title" content="{{ paste.title }}" />
    <meta property="og:type" content="website" />
    {% if page.summary %}<meta property="og:description" content="{{ page.summary }}" />{% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="Rough Drafts" />
{% endblock extra_head %}
{% load paste_nav %}
{% block page_title %}
    {{ paste.title }}
{% endblock page_title %}
{% block extra_header %}
    <p>{{ paste.summary }}</p>
    <p>
        by <a href="{% url 'pastes:profile' paste.editor.profile.url_endpoint %}">{{ paste.editor.profile.profile_name }}</a>
    </p>
{% endblock extra_header %}
{% block nav %}
    {% nav %}
    {% if paste.editor == request.user %}
        <li>
            <a href="{% url 'pastes:update' paste.editor.profile.url_endpoint paste.url_endpoint %}">edit</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'pastes:markdown' paste.editor.profile.url_endpoint paste.url_endpoint %}">view source</a>
        </li>
    {% endif %}
{% endnav %}
{% endblock nav %}
{% block content %}
    {% autoescape off %}
        {{ paste.rendered_content }}
    {% endautoescape %}
{% endblock content %}
