{% extends "pastes/base.html" %}
{% load paste_nav %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet"
        href="https://unpkg.com/easymde/dist/easymde.min.css" />
  <link rel="stylesheet" href="{% static 'pastes/dark_easy_mde.css' %}" />
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock extra_head %}
{% block nav %}
  {% nav %}
  {% if paste %}
    <li>
      <a href="{% url 'pastes:delete' paste.editor.profile.url_endpoint paste.url_endpoint %}">delete</a>
    </li>
    <li>
      <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">cancel</a>
    </li>
  {% endif %}
{% endnav %}
{% endblock nav %}
{% block body %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <footer>
      <button type="submit" name="action">Paste it!</button>
      {% if paste %}
        <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">
          <button type="button">Cancel</button>
        </a>
      {% endif %}
    </footer>
  </form>
  <script>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const easyMDE = new EasyMDE({
          autofocus: true,
          forceSync: true,
          element: document.getElementById('id_content'),
          previewRender: (plainText, preview) => {
              fetch("{% url 'pastes:preview' %}", {
                      method: "POST",
                      body: plainText,
                      headers: {
                          'X-CSRFToken': csrftoken
                      },
                      mode: 'same-origin' // Do not send CSRF token to another domain.
                  })
                  .then((res) => res.text())
                  .then((text) => {
                      preview.innerHTML = text
                  });
          },

      });
  </script>
{% endblock body %}
