<!DOCTYPE html>
<html>

<head>
  ${head}
  <style>
    form,
    fieldset {
      display: flex;
      flex-direction: column;
    }

    input:not([type='radio']) {
      width: 100%;
    }

    header {
      display: flex;
      justify-content: space-between;
    }

    .deleteArticle {
      padding-top: 1.5em;
      margin-top: 1.5em;
      border-top: 0.25ch dashed black;
    }
  </style>
</head>

<body>
  <header>
    <h2>Editing Settings for ${title}</h2>
    <nav>
      <a href="/${displayId}">Cancel</a>
    </nav>
  </header>
  <form action="/${displayId}/settings" method="post">
    <label>Title <small>(Required)</small><input type="text" name="title" value="${title}"" /></label>
    <label>Summary <small>(Leave Blank for Automatic Summary)</small> <input type=" text" name="summary"
        value="${summary}"" /></label>
    <label>URL Endpoint
      <small>(Required, Must be Unique, No Spaces, Alphanumeric characters Only)</small>
      <input type=" text" name="displayId" value="${displayId}" />
    </label>
    <fieldset>
      <legend>Visibility</legend>
      <label><input type="radio" name="visibility" value="unlisted" ${visibility==='unlisted' ?'checked':''} />
        Unlisted</label>
      <label><input type="radio" name="visibility" value="public" ${visibility==='public' ?'checked':''} />
        Public</label>
    </fieldset>
    <button>Save</button>
    <input type="hidden" name="_csrf" value="${csrf}" />
  </form>
  <form action="/${displayId}/delete" method="post" class="deleteArticle">
    <fieldset>
      <legend>
        Delete Article
      </legend>
      <label>
        Please Enter ${displayId} to Confirm
        <input type="text" name="deleteMe" />
      </label>
    </fieldset>
    <button>Delete</button>
    <input type="hidden" name="_csrf" value="${csrf}" />
  </form>
</body>

</html>