<!DOCTYPE html>
<html>

<head>
  ${head}
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <style>
    form {
      display: flex;
      flex-direction: column;
    }

    header {
      display: flex;
      justify-content: space-between;
    }

    .editor-toolbar button {
      color: initial;
    }
  </style>
</head>

<body>
  <header>
    <h2>Editing ${title}</h2>
    <nav>
      <button>Settings</button>
      <a href="/${displayId}">Cancel</a>
    </nav>
  </header>
  <form action="/${displayId}/edit" method="post">
    <textarea name="article">${rawContent}</textarea>
    <button>Save</button>
    <input type="hidden" name="_csrf" value="${csrf}" />
  </form>
</body>
<script>
  const easyMDE = new EasyMDE({
    autofocus: true,
    autosave: {
      enabled: true,
      uniqueId: '${id}',
      text: 'Last saved locally at '
    }
  })
</script>

</html>