<!DOCTYPE html>
<html>

<head>
  ${head}
  <style>
    header {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <header>
    <section>
      <h2>${name}</h2>
      <p>${summary}</p>
    </section>
    ${isUser ? /* html */ `<nav>
      <a href="/settings">Settings</a>
    </nav>`:''}
  </header>
  ${isUser ? /* html */ `<section>
    <a href="/${newArticleId}/new">Add New Article</a>
  </section>`:''}
  ${articles.map(
  curr => /* html */ `<section>
    <h3><a href="/${curr.displayId}">${curr.title}</a></h3>
    <span>${curr.summary}</span>
  </section>`
  )
  .join('')}
</body>

</html>