<!DOCTYPE html>
<html>

<head>
  ${head}
  <style>
    .connectWithDiscord {
      width: 100%;
    }
  </style>
</head>

<body>
  <header>
    <h1>Rough Drafts</h1>
  </header>
  <main>
    <p>If you're already familiar with wikis, feel free to just hop in and</p>
    <p><a href="/connect/discord"><button class="connectWithDiscord">Connect with Discord</button></a></p>
    <p>If you run into a bug, think of a feature you'd like, or see something that can be improved please reach out and
      open an issue on <a href="https://github.com/kinostl/roughdrafts-xyz/issues">Github</a></p>
    <h2>Synopsis</h2>
    <p>A wiki-like program that lets you write articles in <a href="https://commonmark.org/help/">commonmark style
        markdown</a>.
    </p>
    <pre style="word-wrap:break-word; white-space: pre-wrap;">**Markdown** is the formatting language that is frequently used in a lot of programs, such as the popular *Discord*. It looks exactly like this little blurb.

# Features

- Making lists
- Headers
- Bolding and Italics</pre>
    <h2>Description</h2>
    <p>A note taking service for Roleplayers. It uses markdown-it behind the scenes. You will be able to make use of
      vanity urls and visibility
      controls for your articles.</p>
    <p>This service will continue adding features for roleplayers as it ages. It takes inspiration from the
      Info and Finger systems from the MUSH Roleplaying service, which allowed users to share documentation about their
      characters easily.</p>
    <h2>Current Features</h2>
    <ul>
      <li>Write articles in markdown</li>
      <li>Control whether an article is private, unlisted, or publicly listed</li>
      <li>Account page that shows all your public notes</li>
      <li>Titling and summarizing your articles</li>
      <li>Exporting all your notes in markdown and html</li>
    </ul>

    <h2>Markdown-it Plugins</h2>
    Markdown-it allows you to customize how Markdown works using plugins. The following plugins are installed.
    <dl>
      <dt>markdown-it-anchor</dt>
      <dd>Allows you to link directly to a header</dd>

      <dt>markdown-it-emoji</dt>
      <dd>Adds emoticon syntax support (
        <code>:smile:</code> becomes 😊)
      </dd>

      <dt>markdown-it-external-links</dt>
      <dd>Formats links that lead outside of Rough Drafts</dd>

      <dt>markdown-it-highlightjs</dt>
      <dd>Formats code blocks using <a href="https://highlightjs.org">highlight.js</a></dd>

      <dt>markdown-it-toc-done-right</dt>
      <dd>Lets you add a Table of Contents to an article using the
        <code>[toc]</code> keyword
      </dd>
    </dl>

    <h2>Potential Future Features</h2>
    <ul>
      <li>Article tagging</li>
      <li>Article searching</li>
      <li>Theming?</li>
      <li>Role Based Access like letting others edit or specific viewing</li>
      <li>Custom markdown-it plugins focused around Roleplaying</li>
      <li>File History, including rolling back and merging</li>
      <li>Edit suggestions workflow inspired by git's "Pull Requests"</li>
      <li>Alternative interfaces like git and telnet</li>
      <li>Ability to import notes feature</li>
    </ul>
  </main>
</body>

</html>