<!DOCTYPE html>
<html>

<head>
  ${head}
  <style>
    form {
      display: flex;
      flex-direction: column;
    }

    input:not([type='checkbox']) {
      width: 100%;
    }

    header {
      display: flex;
      justify-content: space-between;
    }

    .deleteAccount {
      padding-top: 1.5em;
      margin-top: 1.5em;
      border-top: 0.25ch dashed black;
    }

    @media(prefers-color-scheme: dark) {
      .deleteAccount {
        border-top: 0.25ch dashed white;
      }
    }
  </style>
</head>

<body>
  <header>
    <h2>Editing User Settings</h2>
    <nav>
      <a href="/">Cancel</a>
    </nav>
  </header>
  <main>
    <form action="/settings" method="post">
      <label>Display Name (Required)<input type="text" name="name" value="${name}" /></label>
      <label>Summary (Leave blank for none)<input type="text" name="summary" value="${summary}" /></label>
      <label>URL Endpoint (Required, Must be Unique No Spaces, Alphanumeric characters Only)<input type="text"
          name="displayId" value="${displayId}" /></label>
      <label><a href="/@${displayId}/${displayId}_notes.zip">Download Notes as Zip File</a></label>
      <button>Save</button>
      <input type="hidden" name="_csrf" value="${csrf}" />
    </form>
    <form action="/@${displayId}/delete" method="post" class="deleteAccount">
      <fieldset>
        <legend>
          Delete Account
          <small>Deleting your account also deletes all your posts</small>
        </legend>
        <label>
          Please Enter ${displayId} to Confirm
          <input type="text" name="deleteMe" />
        </label>
      </fieldset>
      <button>Delete</button>
      <input type="hidden" name="_csrf" value="${csrf}" />
    </form>
  </main>
</body>

</html>