<!DOCTYPE html>
<html>

<head>
    ${head}
    <style>
        header {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <header>
        <h2>${title}</h2>
        ${isUser ? /* html */`<nav>
            <a href="/${displayId}/settings">Settings</a>
            <a href="/${displayId}/edit">Edit</a>
        </nav>`:''}
    </header>
    <article>
        ${content}
    </article>
</body>

</html>