<!DOCTYPE html>
<html>

<head>
    ${head}
    <style>
        header {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <meta property="og:title" content="${title}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="${summary ? summary : rawContent.slice(0,280)}" />
    <meta property="og:url" content="${ogUrl}" />
    <meta property="og:site_name" content="Rough Drafts" />
</head>

<body>
    <header>
        <section>
            <h2>${title}<br>
                <small>
                    <em>${summary}</em>
                </small>
            </h2>
            <small>
                By <a href="/@${author.displayId}">${author.name}</a>
            </small>
        </section>
        ${isUser ? /* html */`<nav>
            <a href="/">Home</a>
            <a href="/${displayId}/edit">Edit</a>
        </nav>`:''}
    </header>
    <main>
        <article>
            <section>
            </section>
            ${content}
        </article>
    </main>
</body>

</html>