<!DOCTYPE html>
<html>

<head>
    ${head}
    <style>
        header {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <header>
        <section>
            <h2>${title}</h2>
            <small>
                By <a href="/@${author.displayId}">${author.name}</a>
            </small>
        </section>
        ${isUser ? /* html */`<nav>
            <a href="/">Home</a>
            <a href="/${displayId}/settings">Settings</a>
            <a href="/${displayId}/edit">Edit</a>
        </nav>`:''}
    </header>
    <main>
        <article>
            ${content}
        </article>
    </main>
</body>

</html>