{% extends "pastes/base.html" %}
{% load paste_nav %}
{% block page_title %}
    {{ paste.title }}
{% endblock page_title %}
{% block extra_header %}
    <p>{{ paste.summary }}</p>
    <p>
        by <a href="{% url 'pastes:profile' paste.editor.profile.url_endpoint %}">{{ paste.editor.profile.profile_name }}</a>
    </p>
{% endblock extra_header %}
{% block nav %}
    {% nav %}
    <li>
        <a href="{% url 'pastes:update' paste.editor.profile.url_endpoint paste.url_endpoint %}">edit</a>
    </li>
{% endnav %}
{% endblock nav %}
{% block content %}
    {% autoescape off %}
        {{ paste.rendered_content }}
    {% endautoescape %}
{% endblock content %}
