{% extends "pastes/base.html" %}
{% load paste_nav %}
{% block page_title %}
    {{ paste.title }}
{% endblock page_title %}
{% block extra_header %}
    <p>{{ paste.summary }}</p>
    <p>
        by <a href="{% url 'pastes:profile' paste.editor.profile.url_endpoint %}">{{ paste.editor.profile.profile_name }}</a>
    </p>
{% endblock extra_header %}
{% block nav %}
    {% nav %}
    {% if request.user.is_authenticated and paste.editor == request.user %}
        <li>
            <a href="{% url 'pastes:update' paste.editor.profile.url_endpoint paste.url_endpoint %}">edit</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'pastes:markdown' paste.editor.profile.url_endpoint paste.url_endpoint %}">raw markdown</a>
        </li>
    {% endif %}
{% endnav %}
{% endblock nav %}
{% block content %}
    {% autoescape off %}
        {{ paste.rendered_content }}
    {% endautoescape %}
{% endblock content %}
