{% extends "pastes/base.html" %}
{% load paste_nav %}
{% block nav %}
  {% nav %}
  <li>
    <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">cancel</a>
  </li>
{% endnav %}
{% endblock nav %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ paste }}"?</p>
    {{ form }}
    <footer>
      <button type="submit" name="action">Confirm</button>
      <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">
        <button type="button">Cancel</button>
      </a>
    </footer>
  </form>
{% endblock content %}
