{% extends "pastes/base.html" %}
{% load paste_nav %}
{% block extra_head %}
  <link rel="stylesheet"
        href="https://unpkg.com/easymde/dist/easymde.min.css" />
  <style>
      @media(prefers-color-scheme:dark) {


          .EasyMDEContainer .CodeMirror {
              color: #ccc;
              border-color: #333;
              background-color: #000;
          }

          .EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
              border-color: #ccc;
          }

          .EasyMDEContainer .editor-toolbar>* {
              color: #ccc;
          }

          .EasyMDEContainer .editor-toolbar>.active,
          .editor-toolbar>button:hover,
          .editor-preview pre,
          .cm-s-easymde .cm-comment {
              background-color: #444;
          }

          .EasyMDEContainer .CodeMirror-fullscreen {
              background: #000;
          }

          .editor-toolbar {
              border-top: 1px solid #333;
              border-left: 1px solid #333;
              border-right: 1px solid #333;
          }

          .editor-toolbar.fullscreen {
              background: #000;
          }

          .editor-preview {
              background: #000;
          }
      }
  </style>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <style>
      .CodeMirror pre {
          margin: 0 !important;
      }
  </style>
{% endblock extra_head %}
{% block nav %}
  {% nav %}
  {% if paste %}
    <li>
      <a href="{% url 'pastes:delete' paste.editor.profile.url_endpoint paste.url_endpoint %}">delete</a>
    </li>
    <li>
      <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">cancel</a>
    </li>
  {% endif %}
{% endnav %}
{% endblock nav %}
{% block body %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <footer>
      <button type="submit" name="action">Paste it!</button>
      {% if paste %}
        <a href="{% url 'pastes:detail' paste.editor.profile.url_endpoint paste.url_endpoint %}">
          <button type="button">Cancel</button>
        </a>
      {% endif %}
    </footer>
  </form>
  <script>
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const easyMDE = new EasyMDE({
          autofocus: true,
          forceSync: true,
          element: document.getElementById('id_content'),
          previewRender: (plainText, preview) => {
              fetch("{% url 'pastes:preview' %}", {
                      method: "POST",
                      body: plainText,
                      headers: {
                          'X-CSRFToken': csrftoken
                      },
                      mode: 'same-origin' // Do not send CSRF token to another domain.
                  })
                  .then((res) => res.text())
                  .then((text) => {
                      preview.innerHTML = text
                  });
          },

      });
  </script>
{% endblock body %}
