{% extends "pastes/base.html" %}
{% load paste_nav %}
{% block nav %}
  {% nav %}
  <li>
    <a href="{% url "pastes:create" %}">Create new Paste</a>
  </li>
  <li>
    <a href="{% url "pastes:profile.edit" %}">Update Profile</a>
  </li>
{% endnav %}
{% endblock nav %}
{% block page_title %}
  {{ paste_list.0.editor.profile.profile_name }}
{% endblock page_title %}
{% block content %}
  {% if paste_list %}
    {% for paste in paste_list %}
      <section>
        <a href="{% url 'pastes:detail' paste.id %}">
          <h3>{{ paste.title }}</h3>
        </a>
        <p>
          {% if paste.summary %}
            {{ paste.summary }}
          {% else %}
            {{ paste.content|truncatechars:140 }}
          {% endif %}
        </p>
      </section>
    {% endfor %}
  {% else %}
    <section>
      No pastes are available.
    </section>
  {% endif %}
{% endblock content %}
