<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ paste.title }}</title>
        <meta name="description" content="{{ paste.summary }}" />
        <meta name="keywords" content="{{ paste.summary }}" />
        <meta name="author" content="{{ paste.editor }}" />
        <meta name="created" content="{{ paste.created_at }}" />
        <meta name="updated" content="{{ paste.updated_at }}" />
    </head>
    <body>
        <main>
            <article>
                {% autoescape off %}
                    {{ paste.rendered_content }}
                {% endautoescape %}
            </article>
        </main>
    </body>
</html>
