{% extends "linkis/profile_form.html" %}
{% block extra_user_settings %}
    <section>
        <a href="{% url 'account_email' %}">
            <button type="button">Change Email</button>
        </a>
        <a href="{% url 'account_reset_password' %}">
            <button type="button">Reset Password</button>
        </a>
        <a href="{% url 'socialaccount_connections' %}">
            <button type="button">Manage Social Accounts</button>
        </a>
    </section>
{% endblock extra_user_settings %}
