<!DOCTYPE html>
<html>

<head>
  ${head}
  <style>
    header {
      display: flex;
      justify-content: space-between;
    }

    .newThoughtButton {
      width: 100%;
    }

    .thought {
      display: flex;
      flex-direction: column;
      border-bottom: 0.25ch dashed black;
    }

    @media(prefers-color-scheme: dark) {
      .thought {
        border-bottom: 0.25ch dashed white;
      }
    }

    .thought>p {
      padding: 0;
      margin: 0;
    }

    .toolbar {
      margin-left: auto;
    }
  </style>
</head>

<body>
  <header>
    <section>
      <h2>Thoughts tagged ${tagParams}</h2>
    </section>
    <nav>
      <a href="/">Home</a>
    </nav>
  </header>
  <main>
    ${thoughts.map(
    curr => /* html */ `<section class="thought">
      ${curr.content}
      <nav class="toolbar">
        <a href="/@${curr.authorDisplayId}/thoughts/${curr.displayId}?tags=${tagParams}">Permalink</a>
        <a href="/@${curr.authorDisplayId}/thoughts/${curr.displayId}/edit?isInline=true&tags=${tagParams}">Edit</a>
      </nav>
    </section>`
    )
    .join('')}
  </main>
</body>

</html>