{% extends 'roughdrafts/base.html' %}
{% block page_title %}
    Rough Drafts
{% endblock page_title %}
{% block content %}
    <p>
        A personal wiki-like program that lets you write articles in <a href="https://github.github.com/gfm/">github flavored markdown</a>.
    </p>
    <pre style="word-wrap:break-word; white-space: pre-wrap;">**Markdown** is the formatting language that is frequently used in a lot of programs, such as the popular *Discord*. It looks exactly like this little blurb.
# Features

- Making lists
- Headers
- Bolding and Italics</pre>
    <a href="{% url 'account_login' %}">
        <button type="button">Login</button>
    </a>
    <a href="{% url 'account_signup' %}">
        <button type="button">Sign Up</button>
    </a>
    <p>
        If you run into a bug, think of a feature you'd like, or see something that can be improved please reach out and
        open an issue on <a href="https://github.com/kinostl/roughdrafts-xyz/issues">Github</a>
    </p>
{% endblock content %}
