{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Pastes" />
    <meta name="keywords" content="pastes hosting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}Roughdrafts XYZ{% endblock %}
    </title>
    <link rel="stylesheet"
          href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />
    {% comment "styles" %}
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <link rel="stylesheet" href="{% static 'roughdrafts/css/inter.css' %}" />
    <link rel="stylesheet" href="{% static 'roughdrafts/css/new.min.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    {% endcomment %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.1" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        {% block nav %}
        {% endblock nav %}
      </nav>
    </header>
    {% block body %}
      <main>
        <article>
          <header>
            <h1>
              {% block page_title %}
              {% endblock page_title %}
            </h1>
            {% block extra_header %}
            {% endblock extra_header %}
          </header>
          <hr />
          {% block content %}
          {% endblock content %}
        </article>
      </main>
    {% endblock body %}
    <footer>
      {% block footer %}
        Cute Footer
      {% endblock footer %}
    </footer>
  </body>
</html>
