{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Linkis" />
    <meta name="keywords" content="linkis hosting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}
        Roughdrafts XYZ
      {% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% static 'roughdrafts/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'roughdrafts/css/holiday.css' %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'roughdrafts/favicon/apple-touch-icon.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'roughdrafts/favicon/favicon-32x32.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'roughdrafts/favicon/favicon-16x16.png' %}" />
    <link rel="manifest"
          href="{% static 'roughdrafts/favicon/site.webmanifest' %}" />
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <header>
      <nav>
        {% block nav %}
        {% endblock nav %}
      </nav>
    </header>
    {% block body %}
      <main>
        <article>
          <header>
            <h1>
              {% block page_title %}
              {% endblock page_title %}
            </h1>
            {% block extra_header %}
            {% endblock extra_header %}
          </header>
          <hr />
          {% block content %}
          {% endblock content %}
        </article>
      </main>
    {% endblock body %}
    <footer>
      {% block footer %}
        Cute Footer
      {% endblock footer %}
    </footer>
  </body>
</html>
