<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Linkis" />
    <meta name="keywords" content="linkis hosting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}
        Roughdrafts XYZ
      {% endblock head_title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <header>
      <nav>
        {% block nav %}
        {% endblock nav %}
      </nav>
    </header>
    {% block body %}
      <main>
        <article>
          <header>
            <h1>
              {% block page_title %}
              {% endblock page_title %}
            </h1>
            {% block extra_header %}
            {% endblock extra_header %}
          </header>
          {% block content %}
          {% endblock content %}
        </article>
      </main>
    {% endblock body %}
    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>
  </body>
</html>
