{% extends "linkis/base.html" %}
{% load linki_nav %}
{% block page_title %}
  Deleting {{ linki.title }}
{% endblock page_title %}
{% block extra_header %}
  <p>{{ linki.summary }}</p>
{% endblock extra_header %}
{% block nav %}
  {% nav %}
  <li>
    <a href="{% url 'linkis:detail' linki.editor.profile.url_endpoint linki.url_endpoint %}">cancel</a>
  </li>
{% endnav %}
{% endblock nav %}
{% block content %}
  <details>
    <summary>Content</summary>
    {% autoescape off %}
      {{ linki.rendered_content }}
    {% endautoescape %}
  </details>
  <form method="post">
    {% csrf_token %}
    {{ form.expected_endpoint }}
    {{ form.non_field_errors }}
    <div>
      <label>
        please enter <strong>{{ linki.url_endpoint }}</strong> to confirm:
        {{ form.url_endpoint.errors }}
        {{ form.url_endpoint }}
      </label>
    </div>
    <footer>
      <button type="submit" name="action">Delete</button>
      <a href="{% url 'linkis:detail' linki.editor.profile.url_endpoint linki.url_endpoint %}">
        <button type="button">Cancel</button>
      </a>
    </footer>
  </form>
{% endblock content %}
